/* SECTION #01 */

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

.logo {
  height: 35px;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  padding: 28px 0;
}

.navLinks {
  display: flex;
  align-items: center;
}

.navLinks a {
  text-decoration: none;
  color: #fff;
  opacity: .6;
  margin-right: 31px;
}

.navLinks a:last-child {
  margin: 0;
}

.headerBottom h1 {
  color: #fff;
  font-size: 100px;
  margin: 0;
}

.headerBottom p {
  color: #fff;
  font-size: 20px;
  margin: 0;
  opacity: .6;
}

.headerBottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.headerBtn {
  background: #F2600C;
  width: 312px;
  height: 84px;
  font-size: 30px;
  border: none;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 86px;
  color: #fff;
}

.headerInner {
  width: 1700px;
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-rows: 91px 1fr;
}

.headerMain {
  background: url("../assets/images/sections/header-cover.jpg");
  background-size: cover;
  background-position: center;
}

/* SECTION #02 */

.imageSection {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.imageSection img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: left;
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.imageSection h2 {
  font-size: 70px;
  margin: 0;
}

.imageSection p {
  font-size: 20px;
  color: #6a6a6a;
  margin: 0;
  padding-top: 10px;
}

.sectionBtn {
  background: #F2600C;
  width: 200px;
  height: 54px;
  border: none;
  border-radius: 100px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin-top: 40px;
  box-shadow: 0 3px 5px rgba(0,0,0,.2);
}

.imageSectionText {
  padding: 150px;
}

/* SECTION #04 */

.callToAction {
  background: url("./images/sections/muhammadtaha-ibrahim-ma-aji-OO3IHgN9gBs-unsplash.jpg");
  background-position: center;
}

.callToActionInner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1700px;
  margin: 0 auto;
  align-items: center;
  height: 500px;
}

.callToActionInner h2 {
  font-size: 100px;
  color: #fff;
  margin: 0;
}

.callToActionInner button {
  background: #000;
  color: #fff;
  border: none;
  border-radius: 100px;
  font-size: 30px;
  width: 312px;
  height: 84px;
  font-weight: bold;
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.callToActionInner div:nth-child(2) {
  text-align: center;
}